<div class="center hero-unit">

    <h1>Welcome to Seed Growz</h1>

    <p><font face="Verdana" size="3">Learn which Seed Growz best in your area.  Find your Zone on the map below, then use the Submit box.  Sign up to add <i>your</i> growing experiences!</font></p>
	  
    <%= link_to "Sign up now!", signup_path, 
                                class: "btn btn-large btn-primary" %>
  </div>

  	  <section>
        <%= render 'shared/zone_query_form' %>
      </section>

      <%= link_to image_tag("usda-plant-hardiness-zone-map.jpg", alt: "USDA"), '' %>