<div class="center hero-unit">
    <h1>Welcome to Seed Grow</h1>

    <h2>
      Learn which Seeds Grow best in your area
    </h2>

    <%= link_to "Sign up now!", signup_path, 
                                class: "btn btn-large btn-primary" %>
  </div>