<form action="<%= seeds_path %>" method="get">
  <div class="row">
  <div class="span6 offset3">
<!--   <%= text_field_tag 'zone' %>
  <%= submit_tag "Enter Your Zone, 1 through 13", :name => nil%> -->
  <select name="zone" id="zone" size="5" type="int">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
  <option value="7">7</option>
  <option value="8">8</option>
  <option value="9">9</option>
  <option value="10">10</option>
  <option value="11">11</option>
  <option value="12">12</option>
  <option value="13">13</option>
  </select>

  <input type="number" step="1" name="zone" min="1" max="13" />

  <input type="submit" value="Submit Your Zone" />
  </form>
  </div>
  </div>